application:
  timezone: Europe/Athens
  db:
    schema: templateservice
logging:
  level:
    org:
      apache:
        coyote: info
      hibernate: error
    root: info
management:
  endpoint:
    health:
      show-details: always
  server:
    port: 8081
server:
  servlet:
    context-path: /api/
  error:
    whitelabel:
      enabled: false
spring:
  flyway:
    enabled: true
    default-schema: ${application.db.schema}
  jackson:
    deserialization:
      fail-on-unknown-properties: false
    parser:
      allow-single-quotes: true
    time-zone: Europe/Athens
    serialization:
      fail-on-empty-beans: false #TODO: Check this parameter
    mapper:
      DEFAULT_VIEW_INCLUSION: true
  jpa:
    database: h2
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: "org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy"
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.H2Dialect"
        default_schema: ${application.db.schema}
        globally_quoted_identifiers: true
        jdbc.time_zone: Europe/Athens
        temp.use_jdbc_metadata_defaults: false
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
          generate_statistics: true
      javax:
        lock.timeout: 0
        persistence:
          sharedCache.mode: ENABLE_SELECTIVE
    show-sql: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 20MB
      max-request-size: 215MB
  h2:
    console:
      enabled: true
      settings:
        web-admin-password: admin
  datasource:
    url: jdbc:h2:file:/Users/apanousis/IdeaProjects/personal/trainings/db;DATABASE_TO_LOWER=TRUE
    username: sa
    password: password
    driverClassName: "org.h2.Driver"
#  cache:
#    ehcache:
#      config: classpath:ehcache.xml